body {
 background-image: 'backgroundImage.jpg'
 background-color: black
}

h1 {
  color: blue;
  text-align: center;
}

video {
  align-items: center;
  float: left;
}

p {
  font-size: 20px;
  text-align: center;
}

.ideo {
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: left;
  font-size: 40px;
}

div {
  align-content: center;
}

video {
  width: 30%;
  float: left;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
