video {
	width: 30%;
	margin: 1.66%;
	text-align: right;
}

img {
 float: left;
 width: 30%;
 margin: 1.66%;
}

h1 {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid grey;
	width: 30%;
	padding-bottom: 10px;
}
